<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Enter Code</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close" ng-click="hideModal()"></button>
    </div>
  </ion-header-bar>
  <div class="bar bar-subheader item-input-inset">
    <h2 class="subtitle">{{ code }}</h2>
  </div>
  <ion-content class="has-subheader">
    <div class="button-bar">
      <a class="button">1</a>
      <a class="button">2</a>
      <a class="button">3</a>
    </div>
    <div class="button-bar">
      <a class="button">4</a>
      <a class="button">5</a>
      <a class="button">6</a>
    </div>
    <div class="button-bar">
      <a class="button">7</a>
      <a class="button">8</a>
      <a class="button">9</a>
    </div>
  </ion-content>
  <div class="padding">
    <button class="button button-block button-positive">Enter</button>
  </div>
</ion-view>
