<ion-view hide-back-button="true" can-swipe-back="false">
  <ion-nav-title>{{ event.name || 'Home'}}</ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <div class="bar bar-subheader item-input-inset" ng-show="event">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchText">
    </label>
  </div>

  <ion-content class="has-subheader" ng-show="event">
    <ion-list>
      <ion-item
          ng-repeat="(key, student) in event.students | toArray:true | orderBy:'name' | filter:searchText"
          ng-class="{'item-balanced': evalFn(event.validLevels, student.levels)}"
          href="#/app/event/{{student.$key}}">
        {{student.name}}<span ng-show="student.levels"> - </span><span ng-repeat="level in student.levels">{{level}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
