<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>DanceUtils is a collection of apps to help dance events run more smoothly. Well, for now it's just a single app for helping auditions run more smoothly. But it'll expand more in the future (probably) and here's your chance to get in on the ground floor. Get started by clicking the big red button.</p>
    <div id="google-login" class="customGPlusSignIn" ng-click="login('google')">
      <span class="icon"></span>
      <span class="buttonText">Sign in with Google</span>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>1. Create Your Event</h2>
      <p>You'll be asked to enter the event name, the levels to audition for and the list of students. You can optionally add a custom validation function so your instructors and volunteers will know when students are done auditioning.</p>
    </div>
    <div class="col-md-4">
      <h2>2. Go Mobile</h2>
      <p>Once you've created your event, you'll get a 5-digit access code. If you visit this site from a mobile phone, you can enter that code to see and judge the students. Give the code to your instructors and volunteers and all the information will sync instantly.</p>
   </div>
    <div class="col-md-4">
      <h2>3. That's it</h2>
      <p>There's really not that much to it, so I don't really have anything to put here. But things look better in three's so here it is. Serioualy, just stop reading, there's nothing more I can put here. Ok, fine. What do clouds wear under their clothes? Thunder pants.</p>
    </div>
  </div>


</div> <!-- /container -->
